@using ChiNhanh_Z9TheCoffee.Models;
@model List<ChiNhanh_Z9TheCoffee.Models.listCapNhatDonDatHang>
@{
    ViewBag.Title = "Đơn Đặt Hàng";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HienThiDonDatHang</title>
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("CapNhatDonDatHang", "ChiNhanh_Z9TheCoffee", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div style="overflow-x:auto;">
            <table style="border:solid;text-align:center" class="responsive wrap">
                <tr style="text-align:center; font-weight:bold;border:solid">
                    <td>Đã Thanh Toán</td>
                    <td>Tên Nhân Viên Giao</td>
                    <td>Mã Đơn Hàng</td>
                    <td>Ngày Đặt</td>
                    <td>Tên Khách Hàng</td>
                    <td>Tên Quận</td>
                    <td>Đại Chỉ Giao Hàng</td>
                    <td>Tùy Chọn</td>
                </tr>
                @foreach (var item in Model)
                {
                    <tr style="text-align:center;border:solid">
                        <td style="border:solid"><input type="checkbox" name="DaThanhToan" value="True" /></td>
                        <td style="border:solid">@Html.DropDownList("MaNV", ViewBag.TenNhanVien as SelectList)</td>
                        <td style="border:solid">@Html.DisplayFor(modelItem => item.MaDonHang)</td>
                        <td style="border:solid">@String.Format("{0:dd/MM/yyyy}", item.NgayDat)</td>
                        <td style="border:solid">@Html.DisplayFor(modelItem => item.TenKhachHang)</td>
                        <td style="border:solid">@Html.DisplayFor(modelItem => item.TenQuan)</td>
                        <td style="border:solid">@Html.DisplayFor(modelItem => item.DiaChiGiao)</td>
                        <td>
                            @Html.ActionLink("Chi Tiết", "HienThiChiTietDonDatHang", new { iddonhang = item.MaDonHang })
                        </td>
                    </tr>
                }
            </table><br />
            <div style="text-align: center"><button class="btn primary-btn" type="submit">Lưu</button></div>
        </div>
    }
</body>
</html>