@using ChiNhanh_Z9TheCoffee.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<ChiNhanh_Z9TheCoffee.Models.listDonDatHang>
@{
    ViewBag.Title = "Đơn Đặt Hàng";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HienThiDonDatHang</title>
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <!--Tìm kiếm-->
    <div id="TuNgay">        
        @using (Html.BeginForm("LocDonDatHang", "ChiNhanh_Z9TheCoffee", new { id = Session["MaChiNhanh"] }, FormMethod.Post))
        {
           @Html.AntiForgeryToken()
            <div id="TuNgay" class="form-horizontal">
                Từ ngày <input type="date" name="TuNgay" required />
                Đến ngày <input type="date" name="DenNgay" required />
                <input type="submit"  alt="Submit" value="Lọc" style="width:90px" autocomplete="off">
            </div>
        }        
    </div><br />
    <!--Tìm kiếm-->
    <div style="overflow-x:auto;">
        <table style="border:solid;text-align:center" class="responsive wrap">
            <tr style="text-align:center; font-weight:bold;border:solid">
                <td>Mã Đơn Hàng</td>
                <td>Ngày Đặt</td>
                <td>Tên Khách Hàng</td>
                <td>Tên Quận</td>
                <td>Đại Chỉ Giao Hàng</td>
                <td>Tùy Chọn</td>
            </tr>
            @foreach (var item in Model)
            {
                <tr style="text-align:center;border:solid">
                    <td style="border:solid">@Html.DisplayFor(modelItem => item.MaDonHang)</td>
                    <td style="border:solid">@String.Format("{0:dd/MM/yyyy}", item.NgayDat)</td>
                    <td style="border:solid">@Html.DisplayFor(modelItem => item.TenKhachHang)</td>
                    <td style="border:solid">@Html.DisplayFor(modelItem => item.TenQuan)</td>
                    <td style="border:solid">@Html.DisplayFor(modelItem => item.DiaChiGiao)</td>
                    <td>
                        @Html.ActionLink("Chi Tiết", "HienThiChiTietDonDatHang", new { iddonhang = item.MaDonHang })|
                        @Html.ActionLink("Cập Nhật", "CapNhatDonDatHang", new { id = item.MaDonHang })
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="pagination">
        @Html.PagedListPager(Model, page => Url.Action("LocDonDatHang", new { page = page }))
    </div> 
</body>
</html>